# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\golang_go0bian1cheng2_20200930\1golang0bi3ji4\3、go进阶学习笔记\5、gorm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
